@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Task Management online WebApp</h1>
    <p>you can add your personal tasks with their information to this website to manage more easily </p>
</div>